body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;

  --black: #444;
  --red: #bd0000
}

a {
  color: #00b0f0;
}

.title {
  font-size: 50px;
  text-align: center;
  color: var(--red);
  text-transform: uppercase;
}

.stats {
  border: 1px solid var(--black);
  margin: 0 auto;
  display: inline-block;
  color: var(--black);
}

.stats-header {
  padding: 10px;
  background: var(--black);
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.stat {
  padding: 0 10px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.stat-period {
  display: inline-block;
}

.stat .info-icon {
  --size: 17px;
  
  position: relative;
  display: inline-flex;
  bottom: 2px;
  height: var(--size);
  width: var(--size);
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  font-size: 10px;
  background: lightgray;
  border-radius: 50%;
}

.stat-count {
  display: inline-block;
}

.explanation {
  text-align: center;
  margin: 0 auto;
  line-height: 1.4;
  margin-top: 50px;
  font-size: 20px;
  color: var(--black);
  max-width: 1000px;
}

.explanation div {
  margin-top: 10px;
}

.refresh-wrap {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.about {
  width: 80%;
  margin: 0 auto;
  background: #f4f4f4;
  padding: 30px;
  text-align: left;
  font-size: 17px;
  display: none;
}

.about.visible {
  display: block;
}

footer {
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
  color: var(--black);
}